@import "tailwindcss";

@theme {
    --font-merriweather: Merriweather, serif;
}

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
