@import "tailwindcss";

@theme {
    --font-merriweather: Merriweather, serif;
    --color-green-primary: #6a9739;
    --color-gray-primary: #333;
    --color-off-white: #f8f6f3;
}

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    &::selection {
        background-color: #6a9739ae;
    }
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

td,
th {
    padding: 1rem 1.5rem;
    text-align: left;
}
